<div class="contents">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card horizontal" id="hoge">
        <div class="card-image">
          <img src="http://www.starico-13.com/stamp/outline/a871952-0.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p><%= tweet.tweets %></p>
          </div>
          <div class="card-action">
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <%= link_to 'EDIT', edit_tweet_path(tweet[:id]), method: :get %>
              <%= link_to 'DESTROY', tweet_path(tweet[:id]) , method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>